{% extends 'kaikei/base.html' %}
{% block content %}
<!--
    <form action="" method="POST">
        {% if form.errors %}
        <div class="errorlist">
            {% for errors in form.errors.values %}
                {% for error in errors %}
                    {{ error }}<br>
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}

        <div class="field">
            <label>商品</label>
            <select>
                <option>--------</option>
                {% for x in form.field.hoken %}
                <option>{{ x }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label>個数</label>
            <input type="number">
        </div>

        {% csrf_token %}
        <button type="submit">会計画面へ</button>
    </form>
-->

    <form action="" method="POST">
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="field">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <span class="helptext">{{ field.help_text }}</span>
                {% endif %}
                {{ field.errors }}
            </div>
        {% endfor %}
        <p>送信後、is_waiting==Falseにする</p>
        {% csrf_token %}
        <button type="submit">会計画面へ</button>
    </form>

{% endblock %}